<koken:loop>

	<div class="col-md-3 no-padding">

		<figure class="wj-thumb">

			<koken:link title="View {{ content.title | content.filename }}" class="thumb" lightbox="true">

				<koken:img class="preview" lazy="true" size="1:1" />

				<!-- <koken:link lightbox="true"><koken:img /></koken:link> -->

			</koken:link>

			<koken:link class="wj-thumb-overlay" lightbox="true"></koken:link>

			<figcaption class="wj-caption">

				<koken:if true="settings.albums_detail_show_title">

					<h2>
						<koken:link title="{{ content.title | content.filename }}" lightbox="true">
							{{ content.title | content.filename }}
						</koken:link>
					</h2>

				</koken:if>

				<koken:if true="settings.albums_detail_show_caption">

					<koken:not empty="content.caption">

						<hr>

						<p>
							<koken:if true="settings.albums_detail_truncate">
								{{ content.caption truncate="130" }}
							<koken:else>
								{{ content.caption }}
							</koken:if>
						</p>

					</koken:not>

				</koken:if>

			</figcaption>

		</figure>

	</div>

</koken:loop>

<koken:filtered>
	<p>
		<span class="filter_count">{{ filter.count }} of {{ album.counts.total }} / <koken:link title="View {{ album.title }}">View all</koken:link></span>
	</p>
</koken:filtered>