<article>


	<h1 class="wj-album-title">
		{{ essay.title }}
	</h1>

	<div class="text-center wj-meta">
		<koken:categories>
			<div id="essay_categories">
				<p class="meta-links">
					<koken:loop separator=", ">
						<koken:link class="norm" title="Показать все">
							{{ category.title }}
						</koken:link>
					</koken:loop>
				</p>
			</div>
		</koken:categories>

		<koken:tags>
			<div id="essay_tags">
				<p class="meta-links">
					<koken:loop separator="">
						<koken:link class="tag" title="View all {{ labels.essay.plural case='lower' }} in {{ tag.title }}">{{ tag.title }}</koken:link>
					</koken:loop>
				</p>
			</div>
		</koken:tags>
	</div>


	{{ essay.content }}

</article>