<koken:event_essay>

	<div class="col-md-3 no-padding">

		<article class="kevent">

			<div>

				<figure class="wj-thumb">

					<koken:featured_image>

						<koken:link title="View {{ essay.title }}" class="thumb">

							<koken:img class="preview" lazy="true" size="1:1" />

						</koken:link>

						<koken:link title="{{ essay.title }}" class="wj-thumb-overlay"></koken:link>

					</koken:featured_image>

					<figcaption class="wj-caption">

						<h2>
							<koken:link title="{{ essay.title }}">
								{{ essay.title }}
							</koken:link>
						</h2>

						<hr>

						<p>
							{{ essay.excerpt }}

						</p>

					</figcaption>

				</figure>

			</div>

		</article>

	</div>

</koken:event_essay>