<koken:event_content>

	<div class="col-md-3 no-padding">

		<article>

			<div>

				<figure class="wj-thumb">

					<koken:content_image>
						<koken:link title="View {{ content.title | content.filename }}" lightbox="true">
							<koken:img class="preview" lazy="true" size="1:1" />
						</koken:link>

						<koken:link title="{{ essay.title }}" class="wj-thumb-overlay" lightbox="true"></koken:link>

					</koken:content_image>

					<koken:content_video>
						<koken:video />
					</koken:content_video>

					<figcaption class="wj-caption">

						<h2>
							<koken:link title="View {{ content.title | content.filename }}" lightbox="true">
								{{ content.title | content.filename }}
							</koken:link>
						</h2>

						{{ content.caption paragraphs="true" }}

					</figcaption>

				</figure>

			</div>

		</article>

	</div>

</koken:event_content>
