<koken:pagination limit="20">

	<nav class="paginate">

		<span class="count">
			{{ page }} из {{ pages }}
		</span>

		<ol>

			<koken:pagination_previous>

			<li class="prev">
				<koken:link title="Previous">
					<i class="fa fa-angle-left"></i>
				</koken:link>
			</li>

			</koken:pagination_previous>

			<li>

				<koken:pagination_limited_previous>
					<koken:link>...</koken:link>
				</koken:pagination_limited_previous>

				<koken:loop>
					<koken:link class="{{ is_current }}" title="{{ number }}">
						{{ number }}
					</koken:link>
				</koken:loop>

				<koken:pagination_limited_next>
					<koken:link>...</koken:link>
				</koken:pagination_limited_next>

			</li>

			<koken:pagination_next>

			<li class="next">
				<koken:link title="Next">
					<i class="fa fa-angle-right"></i>
				</koken:link>
			</li>

			</koken:pagination_next>
		</ol>

	</nav>

</koken:pagination>